/* Global colors */
:root {
    --primary-color: #0E6EFF; /* Main accent color */
    --light-bg: #f8f9fa; /* Background color for light mode */
    --text-dark: #333; /* Text color in light mode */
    
    
    --card-bg: #0a1d4d; /* Color for cards,header... */
    --card-text-light: #eee; /* Light text color on dark cards */
    --border-light: #e6e0de; /* Border color in light mode */
    --border-dark: #333; /* Border color in dark mode */
    --shadow-color: rgba(0, 0, 0, 0.461); /* Shadow color for cards */
}
 

/* Dark theme color overrides */
[data-theme="dark"] {
    --light-bg: #1a1a2e; /* Dark Background */
    --text-dark: #eee; /* Switch main text to light */
    
    background-color: #0f0f1e; /* Main body background*/
}

* {
    transition: background-color 0.3s, color 0.3s;
}

/* Basic body and layout */
body {
    font-family: 'Jost', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    background-color: var(--light-bg);
    color: var(--text-dark);
    padding-top: 70px;
}

.section-heading {
    color: var(--text-dark);
}



/* Page sections */
.page-section {
    display: none;
}

.page-section.active {
    display: block;
}

/* Overlay for cart sidebar */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    z-index: 999;
}


.overlay.active {
    display: block;
}